{% extends 'bank/base.html' %}

{% block title %}Customers{% endblock %}

{% block content %}
<h2>Customers List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        {% for customer in customers %}
        <tr>
            <td>{{ customer.name }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.phone }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}