{% extends 'base.html' %}

{% block content %}
<div style="display: flex; justify-content: center; align-items: center; min-height: 80vh;">
    <div class="my-card" style="text-align: center; max-width: 600px; padding: 50px;">

        <h1 style="color: #ffffff; font-size: 45px; font-family: 'Segoe UI', Arial, sans-serif; letter-spacing: -1px; margin-bottom: 10px; text-shadow: 2px 2px 4px rgba(0,0,0,0.3);">
            Welcome To My Blog
        </h1>

        <p style="color: #ecf0f1; font-size: 24px; font-family: 'Georgia', serif; font-style: italic;">
            My Name Is: <span style="font-weight: bold; color: #000000 ; font-style: normal;">{{ name }}</span>
        </p>

        <div style="margin-top: 40px;">
            <a href="{% url 'blog_list' %}" class="my-button" style="background-color: white; color: #601010; padding: 12px 25px; text-decoration: none; border-radius: 5px; font-weight: bold; font-family: sans-serif; transition: 0.3s;">
                Explore My Stories
            </a>
        </div>
    </div>
</div>
{% endblock content %}